@import url('http://fonts.cdnfonts.com/css/sf-mono');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0a1930;
  --secondary-color: #ffc000;
  --tertiary-color: #badefe;
  --quaternary-color: hsl(208, 97%, 95%);
  --sf-mono: 'SF Mono', monospace;
}

.bg-main-color {
  background-color: var(--main-color);
}

.main-color {
  color: var(--main-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

.quaternary-color {
  color: var(--quaternary-color);
}

body {
  font-family: var(--calibre);
  background-color: var(--main-color);
  color: var(--quaternary-color);
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 143px;
  height: 80px;
  box-shadow: 0 2px 4px hsl(217, 66%, 17%, 0.5);
}

.logo {
  width: 70px;
}

a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

p {
  color: var(--tertiary-color);
  font-family: 'Courier New', Courier, monospace;
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.3s ease;
  padding: 1rem;
}

#menuToggle a:hover {
  background-color: var(--main-color);
  color: var(--quaternary-color);
  border: 2px solid var(--main-color);
  border-radius: 0 50% 50% 0;
  border-left: none;
  transition: 0.3s;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--secondary-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--main-color);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 2rem;
  padding-top: 125px;
  background: var(--secondary-color);
  border-radius: 0 0 200px 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 5px;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#menuToggle input:checked~ul {
  transform: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 12px;
    height: 80px;
  }

  .logo {
    width: 50px;
  }
}