@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/sf-mono');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0a1930;
  --secondary-color: #85e4a9;
  --tertiary-color: #badefe;
  --quaternary-color: hsl(208, 97%, 95%);
  --main-color-light: hsl(216, 66%, 18%);
  --calibre: 'Calibre', sans-serif;
  --sf-mono: 'SF Mono', monospace;
}

body {
  font-family: var(--calibre);
  background-color: var(--main-color);
  color: var(--secondary-color);
  line-height: 1.5;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: var(--sf-mono);
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  font-size: 4rem;
}

p {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 3rem;
}

span {
  color: var(--quaternary-color);
  text-align: center;
  font-size: 2rem;
}